body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f9f9f9;
}



/* Navbar */
header {
  background: white;
  padding: 15px 60px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #0077ff;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.about-text {
  max-width: 500px;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

.about-photo img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #0077ff;
  padding: 8px;
  background: white;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  object-fit: cover;
}



/* Hero Section */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #f0f8ff, #ffffff);
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 50px;
  max-width: 1000px;
  padding: 20px;
}

.hero-avatar img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 4px solid #0077ff;
}

.hero-text h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 18px;
  color: #444;
  margin-bottom: 20px;
}

/* Button */
.btn {
  background: #0077ff;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: #0055cc;
}

/* Sections */
.section {
  padding: 60px;
  text-align: center;
}

/* Projects */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  margin-top: 40px;
  padding: 0 40px;
}

.project-card {
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 18px rgba(0,0,0,0.12);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
}

.btn-small {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background: #0077ff;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
}

.btn-small:hover {
  background: #0055cc;
}

.skills-list span {
  display: inline-block;
  background: #e6f0ff;
  color: #0077ff;
  padding: 10px 15px;
  margin: 8px;
  border-radius: 20px;
  font-weight: bold;
}
